.home__container__one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("/images/mobile/home/container-one-background.png"),
    linear-gradient(
      180deg,
      #000000 0%,
      rgba(0, 0, 0, 0.598017) 56.35%,
      rgba(0, 0, 0, 0) 100%
    );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}
.home__container__one h1 {
  max-width: 293px;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
  margin-top: 238px;
  margin-bottom: 135px;
}
.home__container__one a {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #070d10;
  text-decoration: none;

  padding: 15px 33px 13px 33px;
  background: #ffd15b;
  border-radius: 40px;
  margin-bottom: 29px;
}
.home__container__two,
.home__container__three,
.home__container__five,
.home__container__six,
.home__container__seven {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__container__two {
  padding: 32px 29px 64px 29px;
}
.home__container__two h2 {
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 30px;
}
.home__services {
  margin-bottom: 37px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__services img {
  width: 100%;
  max-width: 356px;
  margin-bottom: 19px;
}
.home__services h3 {
  font-size: 20px;
  line-height: 35px;
  padding: 2px 7px 0 7px;
  background: #ffd15b;
  margin-bottom: 9px;
  text-align: center;
}
.home__services p {
  max-width: 293px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 14px;
}
.home__services a {
  font-size: 12px;
  font-weight: 700;
  line-height: 13px;
  letter-spacing: 0.1em;
  color: #656667;
  text-decoration: none;

  border-radius: 40px;
  border: 1px solid #656667;
  padding: 7px 18px 6px 18px;
}
.home__container__two__button {
  max-width: 246px;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #070d10;
  text-align: center;
  text-decoration: none;

  border-radius: 40px;
  background: #ffd15b;
  padding: 8px 30px 6px 30px;
  margin-top: 13px;
}
.home__container__three {
  padding: 34px 31px 44px 31px;
  background: #f5f5f5;
}
.home__container__three h2 {
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 26px;
}
.home__container__three__group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__container__three img {
  width: 100%;
  max-width: 711px;
  margin-bottom: 36px;
}
.home__container__three__content {
  max-width: 711px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__container__three p {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 36px;
}
.home__container__three span {
  font-weight: 700;
}
.home__container__three__content a {
  font-size: 12px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: #070d10;
  text-decoration: none;

  border-radius: 40px;
  padding: 13px 22px 10px 22px;
  background: #ffd15b;
}

/*LIXO - Container four*/
/* @media screen and (max-width: 767px) {
  .home__container__four {
    background: lightgreen;
  }
} */

.home__container__four {
  padding: 75px 0 76px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.home__container__four h2 {
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 31px;
}
.container__four__slider {
  width: 100%;
  display: flex;
  /* align-items: center; */
  overflow: scroll;
}
.home__container__four__group {
  min-width: 310px;
  height: 282px;
  background: #f5f5f5;
  margin-right: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home__container__four__group:first-child {
  margin-left: 28px;
}
.home__container__four__group:last-child {
  margin-right: 28px;
}
.container__four__article__one,
.container__four__article__two,
.container__four__article__three {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container__four__article__one__first {
  font-size: 16px;
  line-height: 35px;
  margin-bottom: 2px;
}
.container__four__article__one__second {
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  padding: 4px 7px 0 7px;
  background: #ffd15b;
  margin-bottom: 8px;
}
.container__four__article__one__third {
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
}
.container__four__article__two {
  position: relative;
}
.container__four__article__two img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  transform: translate(-50%, -50%);
}
.container__four__article__two__first {
  font-size: 16px;
  line-height: 35px;
  margin-bottom: 2px;
}
.container__four__article__two__second {
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  margin-bottom: 2px;
}
.container__four__article__two__third {
  font-size: 16px;
  font-weight: 700;
}
.container__four__article__three {
  position: relative;
}
.container__four__article__three img {
  position: absolute;
  width: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container__four__article__three__first {
  font-size: 16px;
  line-height: 35px;
  margin-bottom: 2px;
}
.container__four__article__three__second {
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  margin-bottom: 2px;
}
.container__four__article__three__third {
  font-size: 16px;
  font-weight: 700;
}

/*Marcador de min width antigo - 767px*/

/* @media screen and (min-width: 0px) {
  .home__container__four {
    padding: 79px 28px 0 28px;
    max-width: 1094px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home__container__four h2 {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 52px;
  }
  .container__four__slider {
    width: 100%;
    min-width: 958px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .home__container__four__group {
    width: 32%;
    max-width: 348px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
  }
  .container__four__article__one {
    padding: 83px 81px 83px 81px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container__four__article__one__first {
    font-size: 16px;
    line-height: 35px;
    margin-bottom: 2px;
  }
  .container__four__article__one__second {
    font-size: 30px;
    font-weight: 700;
    padding: 6px 7px 0px 7px;
    background: #ffd15b;
    margin-bottom: 8px;
  }
  .container__four__article__one__third {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 0;
  }
  .container__four__article__one__fourth {
    font-size: 16px;
  }
  .container__four__article__two {
    height: 313px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .container__four__article__two__first {
    font-size: 16px;
    line-height: 35px;
    margin-bottom: 2px;
    z-index: 1;
  }
  .container__four__article__two__second {
    font-size: 30px;
    font-weight: 700;
    padding: 6px 7px 0px 7px;
    margin-bottom: 4px;
    z-index: 1;
  }
  .container__four__article__two__third {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 4px;
    z-index: 1;
  }
  .container__four__article__two__fourth {
    font-size: 16px;
    z-index: 1;
  }
  .container__four__article__two img {
    width: 255px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
  }
  .container__four__article__three {
    height: 313px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .container__four__article__three__first {
    font-size: 16px;
    line-height: 35px;
    margin-bottom: 2px;
    z-index: 1;
  }
  .container__four__article__three__second {
    font-size: 30px;
    font-weight: 700;
    padding: 6px 7px 0px 7px;
    margin-bottom: 4px;
    z-index: 1;
  }
  .container__four__article__three__third {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 4px;
    z-index: 1;
  }
  .container__four__article__three__fourth {
    font-size: 16px;
    z-index: 1;
  }
  .container__four__article__three img {
    width: 255px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
  }
} */

/*Container four*/
.home__container__five {
  padding: 76px 42px 96px 42px;
}
.home__container__five h2 {
  max-width: 293px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 29px;
}
.home__container__five__group {
  /* max-width: 302px; */

  padding: 24px 45px 19px 45px;
  background: #f5f5f5;
  border-radius: 60px;
  margin-bottom: 32px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.customer__text {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 14px;
}
.home__container__five__group span {
  width: 167px;
  height: 4px;
  background: #ffd15b;
  margin-bottom: 15px;
}
.customer {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}
.home__container__six {
  padding: 0 29px 72px 29px;
}
.home__container__six h2 {
  font-size: 20px;
  line-height: 30px;
  color: #ffd15b;
  margin-bottom: 45px;
}
.home__container__six__blog__post {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 57px;
}
.home__container__six__blog__post img {
  width: 100%;
  margin-bottom: 19px;
}
.home__container__six__blog__post h3 {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 16px;
}
.home__container__six__blog__post p {
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 23px;
}
.home__container__six__blog__post a {
  font-size: 10px;
  font-weight: 700;
  line-height: 11px;
  letter-spacing: 0.1em;
  color: #000000;
  text-decoration: none;
}
.home__container__six__button {
  font-size: 12px;
  font-weight: 700;
  line-height: 23px;
  color: #070d10;
  text-decoration: none;

  border-radius: 40px;
  background: #ffd15b;
  padding: 13px 63px 10px 63px;
}
.home__container__seven {
  padding: 0 37px 0 37px;
}
.home__container__seven form {
  width: 100%;
  max-width: 975px;
  padding: 42px 32px 45px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 31px;
  background: #e1e1e1;
  margin-bottom: 69.58px;
}
.home__container__seven form h3 {
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-align: center;
  margin-bottom: 20px;
}
.home__container__seven form p {
  max-width: 80%;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-align: center;
  margin-bottom: 36px;
}
.home__container__seven form label {
  width: 100%;
  height: 41px;
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: hidden;
}
.home__container__seven form input {
  width: 100%;
  height: 41px;
  border: none;
  padding-left: 40px;
}
#form__button {
  max-width: 184px;
  height: 48px;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.1em;
  padding: 0 41px 0 41px;

  border-radius: 40px;
  background: #ffd15b;
  margin-top: 8px;
  cursor: pointer;
}
@media screen and (min-width: 767px) {
  .home__container__one {
    background: url("/images/desktop/home/container-one-bg.png"),
      linear-gradient(
        180deg,
        #000000 0%,
        rgba(0, 0, 0, 0.598017) 56.35%,
        rgba(0, 0, 0, 0) 100%
      );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
  }
  .home__container__one h1 {
    margin-top: 393px;
    margin-bottom: 243px;
    max-width: 709px;
    font-size: 45px;
    line-height: 50px;
  }
  .home__container__one a {
    display: none;
  }
  .home__container__two {
    padding: 76px 29px 69px 29px;
  }
  .home__container__two h2 {
    font-size: 30px;
    margin-bottom: 44px;
  }
  .home__services {
    margin: 0 17px 37px 17px;
  }
  .home__container__two div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .home__services__one {
    order: 1;
  }
  .home__services__two {
    order: 3;
  }
  .home__services__three {
    order: 2;
  }
  .home__container__two__button {
    max-width: 398px;
    padding: 19px 60px 17px 60px;
  }
  .home__container__three {
    padding: 65px 50px 74px 50px;
  }
  .home__container__three h2 {
    font-size: 30px;
    margin-bottom: 48px;
  }
  .home__container__five {
    padding: 82px 42px 87.37px 42px;
  }
  .home__container__five h2 {
    max-width: 805px;
    font-size: 30px;
    margin-bottom: 48px;
  }
  .home__container__six {
    padding: 0 29px 66px 29px;
  }
  .home__container__six h2 {
    font-size: 30px;
    margin-bottom: 76px;
  }
  .home__container__six__blog__post h3 {
    font-size: 16px;
    margin-bottom: 24px;
  }
  .home__container__six__blog__post p {
    font-size: 14px;
    margin-bottom: 24px;
  }
  .home__container__six__blog__post a {
    display: flex;
    align-items: flex-end;
  }
  .home__container__six__blog__post a:after {
    content: url("/images/desktop/home/right-arrow.png");
    margin-left: 5px;
    transform: translateY(1px);
  }
}
@media screen and (min-width: 1100px) {
  .home__container__three__group {
    flex-direction: row;
    align-items: center;
  }
  .home__container__three__group img {
    width: 50%;
    margin-right: 70px;
  }
  .home__container__three__content {
    width: 50%;
    max-width: 480px;
    align-items: flex-start;
  }
  .home__container__three__content p {
    text-align: left;
    font-size: 16px;
    line-height: 27px;
  }
  .home__container__three__content a {
    padding: 13px 54px 10px 54px;
  }
  .home__container__six div {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
  }
  .home__container__six__blog__post {
    max-width: 356px;
    margin: 0 19.5px 64px 19.5px;
  }
}
@media screen and (min-width: 1227px) {
  .home__services__one {
    order: 1;
  }
  .home__services__two {
    order: 2;
  }
  .home__services__three {
    order: 3;
  }
}
@media screen and (min-width: 1104px) {
  .home__container__one h1 {
    margin-top: 323px;
  }
}
