.simule__container__one {
  padding: 260px 37px 33px 37px;
  background: url("/images/mobile/simule/container-one-background.png"),
    linear-gradient(
      180deg,
      #000000 0%,
      rgba(0, 0, 0, 0.598017) 56.35%,
      rgba(0, 0, 0, 0) 100%
    );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}
.simule__container__one form {
  max-width: 975px;
  margin: 0 auto;
  padding: 42px 32px 22px 32px;
  background: #e1e1e1;
  border-radius: 31px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.simule__container__one form h1 {
  max-width: 279px;
  text-align: center;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 32px;
}
.simule__container__one form p {
  max-width: 241px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 36px;
}
.simule__container__one form input {
  width: 100%;
  max-width: 660px;
  height: 41px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: none;
  outline: none;
  padding-left: 40px;
  color: #8e8e8e;
  font-size: 12px;
}
label {
  width: 100%;
  max-width: 660px;
  position: relative;
}
label[for="userName"]::after {
  content: url("/images/mobile/home/user-img.png");
  position: absolute;
  left: 10px;
  top: 10px;
}
label[for="userMail"]::after {
  content: url("/images/mobile/home/mail-img.png");
  position: absolute;
  top: 50%;
  left: 10px;
  top: 12px;
}
label[for="userPhone"]::after {
  content: url("/images/mobile/home/phone-img.png");
  position: absolute;
  top: 50%;
  left: 10px;
  top: 10px;
}
.simule__container__one input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  padding-left: 20px;
}
.simule__container__one form select {
  width: 100%;
  max-width: 660px;
  height: 41px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: none;
  outline: none;
  padding-left: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  font-size: 12px;
  color: #8e8e8e;
  background: white;
}
label[for="userService"]::after {
  content: url("/images/mobile/home/down-arrow.png");
  width: 12px;
  position: absolute;
  left: 10px;
  top: 10px;
}
.simule__container__one form select::-ms-expand {
  display: none;
}
.simule__container__one form textarea {
  width: 100%;
  max-width: 660px;
  height: 155px;
  resize: none;
  border-radius: 20px;
  border: none;
  outline: none;
  padding-top: 14px;
  padding-left: 40px;
  padding-right: 40px;
  color: #8e8e8e;
  font-size: 12px;
  margin-bottom: 44px;
}
.simule__container__one form div {
  width: 184px;
  height: 41px;
  background: #ffd15b;
  border-radius: 40px;
  padding-top: 2px;
}
#button__form__id {
  padding: 0;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: black;
  cursor: pointer;
  background: transparent;
}
@media screen and (min-width: 767px) {
  .simule__container__one {
    padding: 380px 37px 93px 37px;
  }
  .simule__container__one form {
    padding: 73px 32px 54px 32px;
  }
  .simule__container__one form h1 {
    margin-bottom: 16px;
  }
  .simule__container__one form p {
    max-width: 691px;
    margin-bottom: 61px;
  }
  #simule__form__button {
    margin-top: 47px;
  }
  .simule__container__one form input {
    font-size: 14px;
  }
  .simule__container__one form select {
    font-size: 14px;
  }
  .simule__container__one form textarea {
    font-size: 14px;
  }
  .simule__container__one div {
    width: 219px;
  }
  #button__form__id {
    font-size: 16px;
  }
}
@media screen and (min-width: 1104px) {
  .simule__container__one {
    padding-top: 310px;
  }
}
